.experienceDetail{
    width: 100%;
    height: calc(100vh - 56px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    position: fixed;
    left: 0vw;
    transition-property: right, left;
    transition-duration: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailCard{
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
}

.companyName{
    font-size: 32px;
}

.title{
    font-size: 24px;
}
.imagesContainer{
    width: 800px;
    height: 400px;
}

.contentContainer{
    flex: 1;
}

.carruselContainer{
    display: flex;
    flex: 1;
}