.cardContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.jobCard {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.jobSummary {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.companyLogo {
  width: 50px;
  height: 50px;
  border-radius: 65px;
  background-size: 100%;
  border: solid gray 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}

.facebookLogo {
  background-image: url('../../../assets/images/facebook-f-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  background-color: #3b5998;
}

.thermoFisherLogo {
  background-color: #ed2c34;
  background-image: url('../../../assets/images/thermofisher-logo.png');
}

.samsungLogo {
  background-image: url('../../../assets/images/samsung-logo-white.png');
  background-color: #0c4da2;
  background-repeat: no-repeat;
  background-position: center;
}

.argusTelematics {
  background-image: url('../../../assets/images/argus-logo.jpg');
}

.companyInfo {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  height: 55px;
  margin-left: 10px;
  justify-content: center;
  flex: 1;
}

.jobDescription {
  text-align: justify;
  padding: 10px;
  font-size: 16px;
  flex: 1;
}

.moreInfo {
  position: relative;
  bottom: 0;
  height: 25px;
}

.moreInfoHidden {
  top: 300px;
}

.moreInfoShowing {
  top: -300px;
}

.moreInfoButton {
  width: 125px;
  height: 35px;
  line-height: 2;
  margin: auto;
  border: solid 1px lightgray;
  box-shadow: 1px 1px 1px lightgray;
  background-color: #80d6ff;
  border-radius: 5px;
  cursor: pointer;
}

.moreInfoButton:hover {
  background-color: #4ba3c7;
}

.moreInfoButton span {
  margin-left: 10px;
}

.cardContainer:hover .moreInfoButton {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}